<h1> Bookmarks </h1>

<ul> 
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id="bookmark-<%=bookmark.id%>"> 
      <a href="<%= bookmark.url %>" target="_blank"> <%= bookmark.title %> </a>
      <form action="/bookmarks/<%=bookmark.id%>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form>
      <form action="/bookmarks/<%=bookmark.id%>/edit" method="get">
        <input type="submit" value="Edit">
      </form>
      <form action="/bookmarks/<%=bookmark.id%>/comments/new" method="get"> 
        <input type="submit" value="Add Comment">
      </form>
    </li>
    <ul>
      <% bookmark.comments.each do |comment| %>
        <li><%= comment.text %></li>
      <% end %>
    </ul>
  <% end %>
</ul>

<div> <%= flash[:notice] %> </div>

<form action="/bookmarks" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" autocomplete="off" required>
  <label for="url">URL:</label>
  <input type="text" name="url" autocomplete="off" required>
  <input type="submit" value="Submit">
</form>